---
export const prerender = true;
const defaultLang = 'el';
---

<html>
  <head>
    <meta http-equiv="refresh" content={`0; url=/${defaultLang}`} />
  </head>
  <body>
    <p>Redirecting to /{defaultLang}...</p>
  </body>
</html>
