---
import BackgroundSketch from './BackgroundSketch.astro';
---

<div class="absolute inset-0 z-0 overflow-hidden pointer-events-none">
  <div class="w-[110%] h-full -translate-x-[5%]">
    <BackgroundSketch />
  </div>
</div>
